@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

.gradLight {
  @apply bg-gradient-to-r from-indigo-700 via-purple-700 to-pink-700;
}

.gradDark {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
}

html {
  scroll-behavior: smooth;
}

.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.header {
  max-width: 1024px;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr min(88ch, calc(100% - 64px)) 1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  grid-column: 1 / -1;
}

.theme-startup {
  --color-primary: 255 115 179;
  --color-secondary: 111 114 185;
  /* ... */
}
